{% extends 'base.html' %}
{% load static %}

{% block content %}


<div class="card mb-6">
    <header class="card-header">
        <h6 class="card-title">
          Despesas
        </h6>
        <div>
            <div class="relative">
              <button class="btn inline-flex justify-center btn-primary btn-sm "  onclick="redirectTo('{% url 'add-expenses' %}')">
                <span class="flex items-center">
                  <iconify-icon class="text-xl mr-1" icon="tdesign:money"></iconify-icon>
                  <span>Cadastrar Despesa</span>
                </span>
              </button>
            </div>
        </div>
    </header>
</div> 

<div class="card mt-4">
  <div class="card-body px-6 pb-6">
    <div class="dashcode-data-table">
      <span class=" col-span-8  hidden"></span>
      <span class="  col-span-4 hidden"></span>
        <div class="overflow-hidden ">
            <table class="min-w-full divide-y divide-slate-100 table-fixed dark:divide-slate-700 mt-4" id="example">
              <thead class=" bg-slate-200 dark:bg-slate-700">
                <tr>

                  <th scope="col" class=" table-th ">
                    Valor | {{ currency }}
                  </th>

                  <th scope="col" class=" table-th ">
                    Categoria
                  </th>

                  <th scope="col" class=" table-th ">
                    Descrição
                  </th>                     

                  <th scope="col" class=" table-th ">
                    Data
                  </th>

                </tr>
              </thead>
              <tbody class="bg-white divide-y divide-slate-100 dark:bg-slate-800 dark:divide-slate-700">
                {% for exp in page_obj %}
                <tr>
                  <td class="table-td">
                      <span class="flex">
                        <span class="text-sm text-slate-600 dark:text-slate-300 capitalize">{{ exp.amount }}</span>
                      </span>
                  </td>

                  <td class="table-td">
                    <span class="flex">
                      <span class="text-sm text-slate-600 dark:text-slate-300 capitalize">{{ exp.category }}</span>
                    </span>
                  </td>

                  <td class="table-td">
                    <span class="flex">
                      <span class="text-sm text-slate-600 dark:text-slate-300 capitalize">{{ exp.description }}</span>
                    </span>
                  </td>

                  <td class="table-td">
                    <span class="flex">
                      <span class="text-sm text-slate-600 dark:text-slate-300 capitalize">{{ exp.date }}</span>
                    </span>
                  </td>
                
                  <td class="table-td ">
                    <div class="flex space-x-3 rtl:space-x-reverse">
                      <button class="btn inline-flex justify-center btn-primary btn-sm "  onclick="redirectTo('{% url 'expense-edit' exp.id %}')">
                        <span class="flex items-center">
                          <iconify-icon class="text-xl mr-1" icon="heroicons:pencil-square"></iconify-icon>
                          <span>Editar</span>
                        </span>
                      </button>
                    </div>
                  </td>
                </tr>
                {% endfor %}
                

              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}