{% extends 'base.html' %}

{% block content %}
<div class="conteiner">
    {% include 'partials/_messages.html' %}
    <h1>Add expenses</h1>

    <ul class="list-group">
        <li class="list-group-item">item</li>
        <li class="list-group-item">item</li>
        <li class="list-group-item">item</li>
        <li class="list-group-item">item</li>
        <li class="list-group-item">item</li>
        <li class="list-group-item">item</li>
        <li class="list-group-item">item</li>
        <li class="list-group-item">item</li>
        <li class="list-group-item">item</li>
        <li class="list-group-item">item</li>
    </ul>
</div>
{% endblock content %}