{% extends 'base.html' %}

{% block content %}

<div class="space-y-6">
    <div class="card">
      <div class="card-body flex flex-col p-6">
        <div class="card-text h-full space-y-6">
          <div class="grid md:grid-cols-2 gap-6">
            <div>
              <label for="basicSelect" class="form-label">Pesquise suas Ações</label>
              <form action="#" method="post">
              {% csrf_token %}
              <select name="stock_selected" id="inputGroupSelect04" class="form-control w-full mt-2">
                {% if info.Symbol %}
                  <option value="{{ stock.name }}" class="py-1 inline-block font-Inter font-normal text-sm text-slate-600">{{ info.Symbol }} - {{ info.Name }}</option>
                {% endif %}
                <option selected="Selected" disabled="disabled" value="none" class="py-1 inline-block font-Inter font-normal text-sm text-slate-600">Escolha uma opção</option>
                {% for stock in stocks %}
                  <option value="{{ stock.name }}" class="py-1 inline-block font-Inter font-normal text-sm text-slate-600">{{ stock.name }} - {{ stock.value }}</option>
                {% endfor %}
              </select>
              <div class="mt-4">
                <input class="btn inline-flex justify-center btn-outline-dark" type="submit" value="Salvar"/>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% if info.Symbol %}
    <div class="app-stock-info">
        <div class="stock-header">
            <h2>{{ info.Name }}</h2>
            <span class="stock-meta">
                <span class="stock-symbol">{{ info.Symbol }}</span>
                <span class="stock-price">{{ info.CurrentPrice }}</span>
            </span>
        </div>
    
        <div class="stock-details">
            <h5>Informação da empresa</h5>
            <table class="table table-dark table-hover">
                <tbody>
                    
                    <tr class="my-4">
                        <th>Descrição</th>
                        <td colspan="3">{{ info.Description }}</td>
                    </tr>
                    
                    <tr class="my-4">
                        <th>CIK</th>
                        <td colspan="3">{{ info.CIK }}</td>
                        <th>Bolsa</th>
                        <td colspan="3">{{ info.Exchange }}</td>
                    </tr>
                    
                    <tr class="my-4">
                        <th>Moeda</th>
                        <td colspan="3">{{ info.Currency }}</td>
                        <th>País</th>
                        <td colspan="3">{{ info.Country }}</td>
                    </tr>
                    
                    <tr class="mt-4 mb-4">
                        <th>Setor</th>
                        <td colspan="3">{{ info.Sector }}</td>
                        <th>Induútria</th>
                        <td colspan="3">{{ info.Industry }}</td>
                    </tr>
                    
                    <tr class="my-4">
                        <th>Endereço</th>
                        <td colspan="3">{{ info.Address }}</td>
                    </tr>

                    <tr class="my-4">
                        <th>Fim do ano fiscal</th>
                        <td colspan="3">{{ info.FiscalYearEnd }}</td>
                        <th>Último trismestre</th>
                        <td colspan="3">{{ info.LatestQuarter }}</td>
                    </tr>
                    <!-- Add more rows for the remaining data -->
                </tbody>
            </table>
        </div>
    </div>
    {% endif %}
    </div>
{% endblock %}
