{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <h5>Search for Stock Info</h5>
        {% include 'partials/_messages.html' %}
        <form action="#" method="post">
            {% csrf_token %}
            <div class="input-group">
                <select name="stock_selected" class="custom-select">
                    {% if info.Symbol %}
                        <option value="{{ stock.name }}">{{ info.Symbol }} - {{ info.Name }}</option>
                    {% endif %}
                    {% for stock in stocks %}
                        <option value="{{ stock.name }}" name="currency">{{ stock.name }} - {{ stock.value }}</option>
                    {% endfor %}
                </select>
                <div class="input-group-append">
                    <input class="btn btn-outline-secondary" type="submit" value="Search" />
                </div>
            </div>
        </form>
        <div class="app-table">
            {% for key, value in info.items %}
                <li>{{ key }}: {{ value }}</li>
            {% endfor %}
        </div>
    </div>
{% endblock %}
