{% extends 'base_auth.html' %}
{% load static %}

{% block content %}

    <div class="row col-xl-auto">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <div class="card mt-5">
                <div class="card-body">
                    <div class="card-title py-3">
                        <h4>Entre na sua conta</h4>
                    </div>
                    <form action="" method="post">

                        {% csrf_token %}

                        {% include 'partials/_messages.html' %}
                        <div class="fromGroup">
                            <label class="block capitalize form-label">Username</label>
                            <div class="relative ">
                              <input type="text" name="username" id="usernameField" class="form-control py-2" placeholder="Usuário">
                            </div>
                          </div>
                          <div class="fromGroup">
                            <label class="block capitalize form-label  ">Senha</label>
                            <div class="relative"><input type="password" name="password" id="passwordField" class="  form-control py-2   " placeholder="Senha">
                            </div>
                          </div>
                          <div class="flex justify-between">
                            <a class="text-sm text-slate-800 dark:text-slate-400 leading-6 font-medium" href="forget-password-one.html">Esqueceu sua
                              Senha?
                            </a>
                            <small class="float-right py-3 showPassword" style="cursor: pointer">SHOW</small>
                          </div>
                          <button class="btn btn-dark block w-full text-center">Entrar</button>
                    </form>
                    <div class="mt-2">
                        <span>Don't have an account? <a href="{% url 'register' %}">Register</a></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="{% static 'js/register.js' %}"></script>
{% endblock content %}