{% extends 'base_auth.html' %}
{% load static %}

{% block content %}

    <div class="row col-xl-auto">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <div class="card mt-5">
                <div class="card-body">
                    <div class="card-title py-3">
                        <h4>Criar conta</h4>
                    </div>
                    <form action="" method="post">

                        {% csrf_token %}

                        {% include 'partials/_messages.html' %}
                        <div class="fromGroup">
                            <label class="block capitalize form-label">Username</label>
                            <div class="relative ">
                              <input type="text" name="username" id="usernameField" class="  form-control py-2" placeholder="Digite seu username">
                            </div>
                          </div>
                          <div class="fromGroup">
                            <label class="block capitalize form-label">Email</label>
                            <div class="relative ">
                              <input type="email" name="email" id="emailField" class="  form-control py-2" placeholder="Digite seu email">
                            </div>
                          </div>
                          <div class="fromGroup       ">
                            <label class="block capitalize form-label  ">Senha</label>
                            <div class="relative "><input type="password" name="password" id="passwordField" class="  form-control py-2   " placeholder="Digite sua senha">
                            </div>
                          </div>
                          <button class="btn btn-dark block w-full text-center">Criar sua conta</button>
                    </form>
                    <div class="mt-2">
                        <span><a href="{% url 'login' %}">Já tenho conta</a></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="{% static 'js/register.js' %}"></script>
{% endblock content %}